// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'home';
@import 'nav';
@import 'profile';
@import 'photo';
@import 'footer';

body {
  font-family: $font-family-sans-serif;
  min-width: 320px;
  background: none;
}

.container {
    width: 80%;
    max-width: 1160px;
    padding: 0;
}

main {
  background: none;
}
