.review-tab h2, .edition-tab h2{
  color: #000;
  font-size: 1.17em;
}

.review-tab h3, .edition-tab h3{
  line-height: 1.5em;
  color: #555;
  font-size: 14px;
}

.review-tab h4, .edition-tab h4{
  font-size: 14px;
  color: #888;
}

.review-tab small, .edition-tab small {
  font-size: 12px;
  color: #ababab;
  margin-top: 3px;
}

.tab-image , .edition-tab{
  object-fit: cover;
}
