.photo-display h1 {
    font-size: 2em;
}

.sidebar h3{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.sidebar h4 {
  font-size: 1.25em;
  font-weight: bold;
  color: #222;
  line-height: 1.2em;
}

.sidebar p {
  line-height: 1.5em;
  color: #555;
}

.photo-display{
  padding-right: 2rem;
}

.single_view_social_network_buttons {
  list-style-type: none;
}

.info i {
  padding: 5px 24px 0 0;
  background: url(/img/sprite.png) 180px 10px;
  background-repeat: no-repeat;
}

.album-button {
  background: url(/img/sprite.png) -470px 0;
  width: 24px;
  height: 25px;
}

.download-button {
  background: url(/img/sprite.png) -505px 0;
  width: 24px;
  height: 25px;
}

.evaluate-button {
  background: url(/img/evaluate.png);
  width: 20px;
  height: 20px;
}

.like-button {
  background-image: url(/img/like.png);
  width: 20px;
  height: 20px;
}

.dislike-button {
  background-image: url(/img/dislike.png);
  width: 20px;
  height: 20px;
}

.denounce-button {
  background-image: url(/img/i-denounce.png);
  width: 20px;
  height: 20px;
}

.facebook {
    background: url(/img/sprite.png) -42px -145px;
    width: 20px;
    height: 20px;
}

.google {
    background: url(/img/sprite.png) -21px -145px;
    width: 20px;
    height: 20px;
}

.twitter  {
    background: url(/img/sprite.png) -63px -145px;
    width: 20px;
    height: 20px;
}

ul {
  list-style-type: none;

}

.single_view_image_buttons {
  list-style-type: none;
}
