.sidebar h3{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.sidebar h4 {
  font-size: 1.25em;
  font-weight: bold;
  color: #222;
  line-height: 1.2em;
}

.sidebar p {
  line-height: 1.5em;
  color: #555;
}

.photo-display{
  padding-right: 2rem;
}

.single_view_social_network_buttons {
  list-style-type: none;
}

// #single_view_social_network_buttons li, a.delicious, .google, .facebook, .twitter {
//     display: block;
//     width: 20px;
//     height: 20px;
// }

.info i {
  padding: 5px 24px 0 0;
  background: url(/img/sprite.png) 180px 10px;
  background-repeat: no-repeat;
}

span.facebook {
    background: url(/img/sprite.png) -42px -145px;
}

span.google {
    background: url(/img/sprite.png) -21px -145px;
}

span.twitter  {
    background: url(/img/sprite.png) -63px -145px;
}

ul {
  list-style-type: none;

}

.single_view_image_buttons {
  list-style-type: none;
}

// #plus {
//     background: url(../img/sprite.png) -470px 0;
//     /* padding-top: 4px; */
// }
//
// #download {
//     background: url(../img/sprite.png) -505px 0;
// }

// span.button_evaluate {
//     background: url(../img/evaluate.png);
// }
// #evaluate {
//     display: block;
//     width: 20px;
//     height: 20px;
//     margin-left: 4px;
// }
//
// #like_button {
//     display: block;
//     width: 20px;
//     height: 20px;
//     margin-left: 4px;
//     background-image: url(../img/like.png);
// }
//
// #denounce_photo {
//     display: block;
//     width: 20px;
//     height: 20px;
//     margin-left: 4px;
//     background-image: url(../img/i-denounce.png);
// }
//
// #single_view_image_buttons {
//     margin: 2px 5px;
//     float: left;
// }
