.project-session p{
    text-align: justify;
    color: #555;
}

.project-session h2{
    font-size: 1.5em;
}

.project-session h3{
  font-size: 1.17em;
}

.project-session h1{
  font-size: 2em;
}

.project-session ul li small a{
  text-decoration: none;
  color: #000;
}

.project-session ul li small a:hover{
  color: #555;
  text-decoration: underline;
}

.project-session ul li {
  line-height: normal;
}

.project-photos img{
  // width: 30%;
}
